=header-search()
    .header
        position: relative
        .search-form
            position: absolute
            top: 100%
            left: 0
            background: transparent
            z-index: 11
            width: 100%
            label
                margin: 0
                float: left
                display: block
                width: 80%
                input
                    outline: none
                    border: none
                    padding: 20px 50px
                    height: 50px
                    width: 100% 
            input[type="submit"]
                width: 20%
                height: 50px
                line-height: 50px
                background: red
                outline: none
                border: none
                box-shadow: none
                cursor: pointer
                background: $primary-color
                color: white